name: deploy Bikeforecast

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v2
      
      - name: install the gcloud cli
        uses: google-github-actions/setup-gcloud@v1
        with:
          version: 'latest'
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: build and push docker container image
        env:
          GOOGLE_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        run: |
          gcloud auth configure-docker europe-north2-docker.pkg.dev
          docker build -t europe-north2-docker.pkg.dev/$GCP_PROJECT_ID/bikerent/bikeforecast:latest .
          docker push europe-north2-docker.pkg.dev/$GCP_PROJECT_ID/bikerent/bikeforecast:latest